<div class="row">
  <div class="columns small-2">
  Prev
  </div>
  <div class="columns small-8">
    <div class="row">
      <div class="columns">
        <h4>
          <%= @pull_request.repo %> / <%= @pull_request.pull_id %>
        </h4>
      </div>
    </div>
    <div class="callout">
      <div class="row">
        <div class="columns">
          <h5>
            <%= @pull_request.title %>
            <%= link_to 'link', @pull_request.url, target: '_blank', class: 'button hollow' %>
          </h5>
        </div>
      </div>
      <% @pull_request.files.each do |file| %>
        <div class="row">
            <div class="large-4 columns">
              <div>
                <%= file.file_path %>
              </div>
              <div>
                <%= file.find_similar.map(&:pull_request).map(&:title) %>
              </div>
            </div>
        </div>
      <% end %>
      <%= @pull_request.inspect %>
    </div>
  </div>
  <div class="columns small-2">
  Next
  </div>
</div>
<%= binding.pry %>
