<div class="row">
  <div class="columns small-2">
  Prev
  </div>
  <div class="columns small-8">
    <div class="row">
      <div class="columns">
        <h4>
          <%= @pull_request.repo %> / <%= @pull_request.pull_id %>
        </h4>
      </div>
    </div>
    <div class="callout">
      <div class="row">
        <div class="columns">
          <h5>
            <%= @pull_request.title %>
            <%= link_to 'link', @pull_request.url, target: '_blank', class: 'button hollow' %>
          </h5>
        </div>
      </div>
      <% @pull_request.files.each do |file| %>
        <div class="row">
            <div class="large-12 columns">
              <div class="callout alert">
                <%= file.file_path %>
              </div>
              <% file.find_similar.map(&:pull_request).each do |pull| %>
                <div class="row">
                  <div class="large-10 callout warning columns">
                    <%= pull.title %> <%= pull.repo %> / <%= pull.pull_id %>
                  </div>
                  <div class="large-2 columns">
                    <%= link_to 'link', pull.url, target: '_blank', class: 'button hollow' %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      <% end %>
      <%= @pull_request.inspect %>
    </div>
  </div>
  <div class="columns small-2">
  Next
  </div>
</div>
